body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  background-color: black;
  font-size: 30px;
  font-weight: bold;
}

div {
  display: flex;
  width: 60%;
  justify-content: center;
  text-align: center;

}

a {
  padding: 40px;
  text-decoration: none;
  font-family: Arial, Monaco, monospace;
  margin: 15px;
}

quote {
  font-style: italic;
  font-weight: normal;
  font-size: 25px;
}

.zerodechet {
  background-color: blue;
  color: white;
}

.gilets-jaunes {
  background-color: yellow;
  color: black;
}
